.menu{
  display: flex;
}
.foodItem {
  display: flex;
  flex-direction: column;
}
.foodItem .header{
  display: flex;
  flex-direction: row;
}
.name{
  flex: 2;
}
.cost{
  flex: 1;
}
.animal{
  display: flex;
  margin: 4px;
  padding: 0px;
  border: 2px solid blue;
  box-shadow: 1px 1px 2px #dddddd;
  flex-direction:row;
}
.animal:before{
  content: "breed";
  font-weight: bold;
  background: #00AA00;
  color: #DDFFDD;
}

.animal, .animal:before{
  flex: 1;
  padding: 0.5em;
}
